.content {
    max-width: 100%;
}


.button-content {
    text-align: center;
    background-position: center;
}

.waves-light {
    max-width: 400px;
    min-width: 50px;
    width: 400px;
}
.card {
    background-color: rgb(255, 255, 255);
}

.list-group{
    border-radius: 25px;
    text-align: center;
    background-position: center;
}

.list-group-item {
    background-color: rgb(27, 44, 82);
    color: rgb(255, 255, 255);
    
    border-color: rgb(255, 255, 255);
}